<h1>Listing group_song_assignments</h1>

<table>
  <tr>
    <th>Song</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @group_song_assignments.each do |group_song_assignment| %>
  <tr>
    <td><%= group_song_assignment.song_id %></td>
    <td><%= group_song_assignment.group_id %></td>
    <td><%= link_to 'Show', group_song_assignment %></td>
    <td><%= link_to 'Edit', edit_group_song_assignment_path(group_song_assignment) %></td>
    <td><%= link_to 'Destroy', group_song_assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group song assignment', new_group_song_assignment_path %>
