<%= form_for :group_song_assignment, :url => {:controller => 'group_song_assignments', :action => 'create'}, :remote => true do |f| %>
  <% energy_levels = %w{high medium low} %>
  <div>
    Energy Level:
    <%= f.select :energy_level_id, EnergyLevel.order('elevel').collect{|e| [ "#{e.name}(#{e.elevel})", e.id]} %>
  </div>
  <div>
    Song:
    <%= autocomplete_field_tag 'song', '', '/songs/autocomplete_song_title', :size => 75, :id_element => '#song_id' %>
  </div>
  <%= f.hidden_field( :song_id, { :id => "song_id" } ) %>
  <%= f.hidden_field( :group_id, { :value => @group.id } ) %>
  <%= submit_tag "Assign" %>
  | <%= link_to_function 'Cancel', "$('#create_song_assignment').hide(); $('#add_song_link').show()" %>
<% end %>
