<div style="text-align:center">
  <h2><%= @group.name %></h2>
</div>

<div id="locations">
  <%= render :partial => 'locations' %>
</div>
<div id="create_location_assignment" style="display:none">
  <%= render :partial => 'create_location_assignment' %>
</div>
<div id="add_location_link">
  <%= link_to_function jquery_ui_button_icon("Add Location", "ui-icon-plusthick", "addlocation").html_safe , "$('#create_location_assignment').show(); $('#add_location_link').hide()" %>
</div>
<br/>

<h3>Song Library</h3>
<div id="songs">
  <%= render :partial => 'songs' %>
</div>
<div id="create_song_assignment" style="display:none">
  <%= render :partial => 'create_song_assignment' %>
</div>
<div id="add_song_link">
  <%= link_to_function jquery_ui_button_icon("Add Song", "ui-icon-plusthick", "addsong").html_safe , "$('#create_song_assignment').show(); $('#add_song_link').hide()" %>
  <%= link_to jquery_ui_button_icon("Generate Playlists", "ui-icon-shuffle", "genplaylist").html_safe,
      new_playlist_path(:playlist => {:group_id => @group.id}) %>
  <%= link_to jquery_ui_button_icon("View Playlists", "ui-icon-play", "playlist").html_safe,
      url_for(:action => "playlists", :group_id => @group.id) %>
</div>
<br/>
<br/>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

