<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= link_to @media_player.location_id, @media_player.location if @media_player.location %>
</p>

<div id='info'>
  <%= render :partial => 'info', :locals => {:media_player => @media_player} %>
</div>
<br/>
<%= link_to 'Edit', edit_media_player_path(@media_player) %> |
<%= link_to 'Back', media_players_path %>
