<%= form_for(@black_list) do |f| %>
  <% if @black_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@black_list.errors.count, "error") %> prohibited this black_list from being saved:</h2>

      <ul>
      <% @black_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :song_id %><br />
    <%= f.number_field :song_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
