<h1>Listing black_lists</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Song</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @black_lists.each do |black_list| %>
  <tr>
    <td><%= black_list.location_id %></td>
    <td><%= black_list.song_id %></td>
    <td><%= link_to 'Show', black_list %></td>
    <td><%= link_to 'Edit', edit_black_list_path(black_list) %></td>
    <td><%= link_to 'Destroy', black_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Black list', new_black_list_path %>
