<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @black_list.location_id %>
</p>

<p>
  <b>Song:</b>
  <%= @black_list.song_id %>
</p>


<%= link_to 'Edit', edit_black_list_path(@black_list) %> |
<%= link_to 'Back', black_lists_path %>
