<h3>Listing energy_levels</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @energy_levels.each do |energy_level| %>
  <tr>
    <td><%= energy_level.name %></td>
    <td><%= energy_level.elevel %></td>
    <td><%= link_to 'Show', energy_level %></td>
    <td><%= link_to 'Edit', edit_energy_level_path(energy_level) %></td>
    <td><%= link_to 'Destroy', energy_level, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Energy level', new_energy_level_path %>
