<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @playlist.group_id %>
</p>

<p>
  <b>Date:</b>
  <%= @playlist.date %>
</p>

<p>
  <b>Content:</b>
  <%= @playlist.content %>
</p>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
