<%= form_for(setup_location(@location)) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    Business Hours<br />
    <%= f.fields_for :business_hours do |ff| %>
      <%= ff.select :wday, BusinessHour.day_options %>
      open from <%= ff.text_field :open_at, :value => ff.object.open_at_str, :class => 'timefield' %>
      to  <%= ff.text_field :close_at, :value => ff.object.close_at_str, :class => 'timefield' %><br/>
    <% end %>
  </div>
  <div class="field">
    <%= f.fields_for :holiday_song_period do |ff| %>
      <%= ff.label :holiday_song_period %><br />
      <%= ff.text_field :period %>
    <% end %>
  </div>

  <div>
    <strong>Media Player:</strong><br/>
    <%= f.fields_for :media_player do |ff| %>
      <div class="field">
        <%= ff.label :serial %>
        <%= ff.text_field :serial %>
      </div>
      <div class="field">
        <%= ff.label :ip_address %>
        <%= ff.text_field :ip_address %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :group %><br />
    <%= f.select :group_id, Group.order('name').collect{|g| [g.name, g.id]}, { :include_blank => true} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $('.timefield').timepicker({});
</script>
