<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Phone number:</b>
  <%= @location.phone_number %>
</p>

<p>
  <b>Contact name:</b>
  <%= @location.contact_name %>
</p>

<p>
  <b>Belongs to group:</b>
  <%= link_to @location.group.name, @location.group if @location.group %>
</p>

<p>
  <b>Holiday Song Period:</b>
  <%= @location.holiday_song_period.period if @location.holiday_song_period %>
</p>

<b>Holiday Schedules</b>
<div class="infobox">
  <div id="holiday_schedules" class="schedules">
    <%= render :partial => '/schedules/list', :locals => {:schedules => @location.schedules.special} %>
  </div>
  <div id="add_special_schedule" style="display:none">
    <%= render :partial => 'add_special_schedule' %>
  </div>
  <div id="add_special_schedule_link">
    <%= link_to_function jquery_ui_button_icon("Add Holiday Schedules", "ui-icon-plusthick", "addhs").html_safe , "$('#add_special_schedule').show(); $('#add_special_schedule_link').hide()" %>
  </div>
</div>
<br/>

<p>
  <b>Energy Level Intervals</b>
  <div class="infobox">
    <%= render :partial => 'schedule_energy_level_intervals' %>
  </div>
</p>

<!--
<p>
  <b>Business hours:</b><br/>
  <% @location.business_hours.each do |business_hour| %>
    <%= Date::ABBR_DAYNAMES[business_hour.wday] %> from <%= business_hour.open_at.strftime("%H:%M") %>
      to <%= business_hour.close_at.strftime("%H:%M") %><br/>
  <% end %>
</p>
-->
<br />

<h3>Media Player Info</h3>
<div id="media_player" class="infobox">
  <%= render 'media_player' %>
</div>
<br />

<h3>Blacklisted Songs</h3>
<div id="black_list">
  <%= render 'black_list' %>
</div>

<div id="add_black_list">
  <%= render :partial => 'select_songs_to_blacklist' %>
</div>

<br />
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

