<!DOCTYPE html>
<html>
<head>
  <title>Muzik</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h2>Music Manager</h2>
    <br/>
    <div id="layoutdims">
      Jump to:
      <%= link_to "Energy Levels", energy_levels_path %> |
      <%= link_to "Groups", groups_path %> |
      <%= link_to "Locations", locations_path %> |
      <%= link_to "Songs", songs_path %> |
      <%= link_to "Media Players", media_players_path %> |
      <%= link_to "Playlist Generator", new_playlist_path %> |
      <%= link_to "Upload Songs List", "/group_song_assignments/upload_itunes_plist" %>
    </div>
  </div>
  <div class="colmask fullpage">
    <div class="col1">
    <p id="notice"><%= notice %></p>
    <%= yield %>
    </div>
  </div>

</body>
</html>
