<!DOCTYPE html>
<html>
<head>
  <title>Muzik</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <style type="text/css">
    .ui-slider .ui-slider-handle { text-decoration:none; width: 35px;  height: 20px; background: #2F4D6D; margin-left: -15px; color: white; font-size:0.7em; text-align:center}
    .ui-slider { height: 15px; }
  </style>

  <div id="header">
    <h2>Music Manager</h2>
    <br/>
    <div id="layoutdims">
      Jump to:
      <%= link_to "Energy Levels", energy_levels_path %> |
      <%= link_to "Groups", groups_path %> |
      <%= link_to "Locations", locations_path %> |
      <%= link_to "Songs", songs_path %> |
      <%= link_to "Media Players", media_players_path %> |
      <!--
      <%= link_to "Playlist Generator", new_playlist_path %> |
      -->
      <%= link_to "Upload Songs List", "/group_song_assignments/upload_itunes_plist" %>
    </div>
  </div>
  <div class="colmask fullpage">
    <div class="col1">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
    </div>
  </div>

</body>
</html>
