<!DOCTYPE html>
<html>
<head>
  <title>Muzik</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "jquery-ui-1.8.16.custom", "demo_table", "anytimec" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min", "jquery.dataTables.min", "anytimec" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h2>Music Manager</h2>
    <br/>
    <div id="layoutdims">
      Jump to:
      <%= link_to "Energy Levels", energy_levels_path %> |
      <%= link_to "Groups", groups_path %> |
      <%= link_to "Locations", locations_path %> |
      <%= link_to "Songs", songs_path %>
    </div>
  </div>
  <div class="colmask fullpage">
    <div class="col1">
    <%= yield %>
    </div>
  </div>

</body>
</html>
